{:deps
 {babashka/fs {:mvn/version "0.4.18"}
  babashka/process {:mvn/version "0.5.21"}
  compojure/compojure {:mvn/version "1.7.0"}
  hiccup/hiccup {:mvn/version "2.0.0-alpha2"}
  http-kit/http-kit {:mvn/version "2.7.0-alpha1"}
  olorm/lib {:local/root "../lib"}
  io.github.nextjournal/clerk {:mvn/version "0.13.842"}
  org.xerial/sqlite-jdbc {:mvn/version "3.42.0.0"}
  com.github.seancorfield/next.jdbc {:mvn/version "1.3.874"}
  org.clojure/data.json {:mvn/version "2.4.0"}
  datascript/datascript {:mvn/version "1.4.2"}}}
